.calendar{
  background: rgb(58, 144, 225);
}
.card{
  box-shadow: 1px 1px 3px 0px #ccc inset;
  border-radius: 0 0 10px 10px ;

}
.ant-card-body::-webkit-scrollbar{
  display: none;
}
.comment-element-orange{
  width: 210px;
  margin-top: 5px;
  height: auto;
 padding-right: 10px;
  margin-left: 50px;
  border: solid 0px grey;
  border-radius: 5px;
  
  background:rgb(222, 182, 88);
}
.comment-element-green{
  width: 210px;
  height: auto;
  
  margin-top: 5px;
  border: solid 0px grey;
  border-radius: 5px;
  background:rgb(197, 235, 197);
 
}
.ant-modal-content{
  border-radius: 15px 15px 15px 15px;
}
.ant-modal-close{
  color: red;
}
.chatbot{
margin-left: 110rem;
}
.modal{
  /* margin-top: 15rem;
  margin-left:92rem; */
  /* display: none; */
  position: fixed;

  /* bottom: 0; */
  top: 27rem;
  right: 15px;
  /* border: 3px solid #f1f1f1; */
  z-index: 9;

}
.open-button {
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 153px;
  right: 128px;
  z-index: 9;

}
.project-card{
  width: 340px;
  margin-top: 10px;
  margin-left: 15px;
  padding-left: 15px;
}